h1
{
text-align: center;;
}

p {
  text-align: center;
}
/*p.street{
  font-family: cursive;;
} --I'm attempting to use a class(?) to style only one p element in order
to make it different than the rest of the p element styles. It will allow
me to do this inline in the html file, but I don't want to do it in the
html file. Can this be done?*/
.container img {
  width: 100%;
  height: auto;
}

/*Ask how the heck I can get this hot dog image right next to "hot dog contest p
regardless of size of browser screen"*/
.container#hotdog img{
  position: relative;
  float: right;
  margin-right: 65%;
  height: 50px;
  width: 50px;
}

.container#kingNatsu img{
  margin-left: 25%;
  height: 45%;
  width: 50%;
}
